@charset "uff-8";
/* 공통 레이아웃 + 공통 컴포넌트(버튼, 폰트, grid 등)*/
 /* ========== Layout 공통 컨테이너 ========== */
    .container {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-between;
    }


    
    /* ========== Header ========== */
    header {
      min-height: 150px;
      /* 데모용 고정 높이 */
      align-items: center;

    }


    /* header 내부 요소 배치 */
    .search-box {
      width: 350px;
      height: 60px;
      background: #fff;
      border-radius: 8px;
      border: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
    }

    .search-box>input {
      border: none;
      outline: none;
      padding: 8px;
      width: 180px;
      font-size: 15px;
    }

    .search-box>img {
      border: none;
      outline: none;
      cursor: pointer;
      margin: 10px 10px 0px;
      width: 40px;
      height: 40px;
    }

    .right-box {
      width: 400px;
      height: 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .logo {
      width: 350px;
      height: 70px;
      font-size: 28px;
      text-align: center;
    }

    .login {
      width: 100%;
      height: 30px;
      font-size: 14px;
    }


    /* 로그인 파트 (위) */
    .login>ul {
      margin-bottom: 6px;
      display: flex;
      justify-content: flex-end;
      font-size: 12px;
      gap: 15px;
    }

    .login>ul>li>a {
      color: #666;
    }

    .menu {
      width: 100%;
      height: 40px;
      margin: 35px 0 0 0px;

    }

    /* 메뉴(아래) */
    .menu>ul {
      display: flex;
      justify-content: flex-end;
      font-size: 15px;
      color: #000;
      gap: 15px;
    }

    .menu>ul>li>a {
      display: flex;
      justify-content: center;
      align-content: baseline;
      align-items: center;
      color: #000;
      gap: 5px;
      font-weight: bold;
    }


    /* 메뉴 아이콘 크기 */
    .menu img {
      width: 25px;
      height: 25px;
    }



    
    /* ========== Footer ========== */
    footer {
      min-height: 200px;
      display: flex;
      gap: 40px;
    }

    .footer-left {
      flex: 1
    }

    .footer-right {
      flex: 2;
    }

    /* 글씨 약한 스타일 */
    .footer-left p,
    .footer-right p {
      margin: 5px 0;
      line-height: 1.5;
      text-align: left;
      font-size: 12px;
    }

    .footer-left .tel {
      font-size: 12px;
      font-weight: bold;
    }

    .footer-right .links a {
      margin: 0 5px;
      color: #333;
      text-decoration: none;
    }

    .footer-right .links a:hover {
      text-decoration: underline;
    }
