@charset "uff-8";
/* 메인 페이지 전용 스타일*/



    /* ========== Main ========== */
    main {
      min-height: 600px;
      /* 나중에 콘텐츠 늘어남 */
    }

    .section-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      gap: 15px;
      margin: 30px 0px;
    }

    .banchan {
      width: 100%;
      min-height: 1000px;
    }

    div>h3 {
      width: 100%;
      font-size: 27px;
      text-align: center;
      line-height: 30px;
    }

    div>p {
      width: 100%;
      font-size: 17px;
      text-align: center;
      color: #666;
      margin-bottom: 25px;
    }

    .product-card {
      width: 280px;
      height: 395px;
      display: flex;
      flex-direction: column;
      gap: 2px;

    }

    .product-card>img,
    .md-card>img {
      width: 100%;
      margin: 0 0 15px 0;
    }

    .product-card>h4,
    .md-card>h4 {
      font-size: 17px;
      color: #000
    }

    .product-card>p,
    .md-card>p {
      font-size: 14px;
      color: #666;
      text-align: left;
    }

    .product-card>h5,
    .md-card>h5 {
      font-size: 17px;
      color: #000;
    }

    .md-card {
      width: 280px;
      height: 515px;
    }



    .kid-banchan {
      width: 100%;
      min-height: 600px;
    }

    .new-banchan {
      width: 100%;
      min-height: 1000px;
    }

    .banner {
      width: 100%;
      min-height: 200px;
    }

    .banner>a>img {
      width: 380px;
      height: 130px;
    }



    .md-banchan {
      width: 100%;
      min-height: 750px;
    }

    .md-banchan>ul {
      width: 100%;
      min-height: 45px;
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: 0 0 30px 0;
    }

    .md-banchan>ul>li {
      background-color: #ddd;
      padding: 10px 20px 0px;
      border-radius: 30px;
      font-size: 16px;
     cursor: pointer;
      display: block;
    }

    .md-banchan>ul>li>a {
      color: #333;
    }


    /* 선택된(active) 메뉴만 흰 글자 */
    .md-banchan > ul > li.active > a {
      color: #fff;
    }

    
    .md-banchan > ul > li.active {
      background-color: #0D5611;
      color: #fff;
    }



/* ========== Slider ========== */
#slider {
    width: 100%;
    min-height: 450px;
    overflow: hidden;
}

#slider>img {
    width: 100%;
    display: block;
}